.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  z-index: 99;
}

.popup-inner {
  position: relative;
  padding: 2rem;
  margin: 2rem auto;
  width: 100%;
  height: auto;
  max-width: 640px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
